/*
======================
Reset
======================
*/
:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3: #ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
  font-family: "Archivo", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h3,
h4 {
  font-weight: 500;
}

/*
  ======================
  Header
  ======================
  */

.header {
  position: relative;
}

.container1 {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.6rem;


}

/*
  ======================
  Navigation
  ======================
  */

.navigation {
  position: relative;
  height: 7rem;
  background: #BE1E2D;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  height: 7rem;
  padding: 0 1rem;
}

.fix__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 1200;
  background: #BE1E2D;
  color: white;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(0%);
}

.nav__logo a {
  font-size: 2.5rem;
  color: var(--white);
  padding: 1.6rem;
  font-weight: 700;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
}

.nav__hamburger svg {
  height: 2.3rem;
  width: 2.3rem;
}

.menu__top {
  display: none;
}

.nav__menu {
  width: 65%;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;

}

.nav__item:not(:last-child) {
  margin-right: 1.6rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.scroll-linkDANHMUC {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s ease-in-out;
}

.scroll-linkDANHMUC:hover {
  color: #BE1E2D;
}

.scroll-link,
.nav__link_giohang {
  color: var(--white);
}

.nav__list .nav__link:hover {
  color: var(--orange);
}

.nav__icons {
  display: flex;
  position: relative;
}

.nav__icons .icon__item svg {
  width: 1.6rem;
  height: 1.6rem;
}

.nav__icons .icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.nav__icons .icon__item:link,
.nav__icons .icon__item:visited {
  color: var(--white);
}

.nav__icons .icon__item:hover {
  background-color: var(--orange);
  border: 1px solid var(--black);
}

.nav__icons .icon__item:not(:last-child) {
  margin-right: 1rem;
}

.nav__icons #cart__total {
  font-size: 1rem;
  position: absolute;
  top: 2px;
  right: 75px;
  background-color: var(--orange);
  padding: 0.2rem 0.4rem;
  border-radius: 100%;
  color: var(--primaryColor);
}

.page__title-area {
  background-color: var(--primaryColor);
}

.page__title-container {
  padding: 1rem;
}

.page__titles {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--grey2);
}

.page__titles a {
  margin-right: 2rem;
}

.page__titles a svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--grey2);
}

.page__title {
  position: relative;
}

.page__title::before {
  position: absolute;
  content: "/";
  top: 0;
  left: -1rem;
}







/*
  ======================
  Testimonial Media Query
  ======================
  */
@media only screen and (max-width: 1200px) {
  .testimonial__box {
    height: 100%;
  }

  .testimonial__box p {
    width: 90%;
    margin: 0 auto;
    line-height: 2.2rem;
    margin-bottom: 3rem;
  }

  .client__image {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 568px) {
  .testimonial {
    height: 100%;
    padding: 4rem 0 5rem;
    z-index: 1;
    text-align: center;
  }

  .testimonial__box {
    height: 100%;
  }

  .testimonial__box p {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .client__image {
    margin-bottom: 1.5rem;
  }

  .testimonial__box span {
    margin-bottom: 1rem;
  }

  .testimonial .glide__bullets {
    bottom: -8%;
  }
}

/*
  ======================
  News Section
  ======================
  */

.news {
  padding-bottom: 8rem;
}

.new__card {
  background-color: var(--primaryColor);
  width: 95%;
  margin: 0 auto;
}

.new__card:not(:last-child) {
  margin-right: 1rem;
}

#footer .container {
  margin: auto;
}

.card__footer {
  padding: 3rem 1.4rem;
}

.card__footer h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.card__footer span {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--black2);
}

.card__footer p {
  font-size: 1.5rem;
  color: var(--black2);
  margin-bottom: 1.6rem;
  line-height: 2.7rem;
}

.card__footer a button,
.card__footer a button {
  display: inline-block;
  padding: 1.4rem 4rem;
  border: 1px solid var(--black);
  color: var(--black);
  cursor: pointer;
  transition: 0.3s;
}

.card__footer a button:focus {
  outline: none;
}

.card__footer a button:hover {
  border: 1px solid var(--black);
  color: var(--white);
  background-color: var(--black);
}

/*
  ======================
  NewsLetter
  ======================
  */

.newsletter {
  padding: 6rem 0;
  border-top: 1px solid var(--primaryColor);
}

.newsletter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter__data h3 {
  font-size: 2.4rem;
  font-weight: inherit;
  margin-bottom: 1rem;
}

.newsletter__data p {
  font-size: 1.5rem;
  color: var(--black2);
}

.newsletter__email {
  font-size: 1.4rem;
  display: inline-block;
  width: 37rem;
  padding: 1.6rem;
  background-color: var(--primaryColor);
  border: none;
  text-indent: 1rem;
}

.newsletter__email:focus {
  outline: none;
}

.newsletter__link:link,
.newsletter__link:visited {
  display: inline-block;
  padding: 1.4rem 3rem;
  margin-left: -0.5rem;
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s;
}

.newsletter__link:hover {
  background-color: #000;
}

/*
  ======================
  Newsletter Media Query
  ======================
  */

/*
  ======================
  Footer
  ======================
  */

.footer {
  background-color: var(--black3);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-top__box span svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--grey3);
}

.footer-top__box span {
  margin-right: 1rem;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--grey3);
}

.footer-top__box a:link,
.footer-top__box a:visited {
  display: block;
  color: var(--grey);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-top__box a:hover {
  color: var(--orange);
}

.footer-top__box div {
  color: var(--grey);
  font-size: 1.4rem;
}

.footer-top__box h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}




/*
  ======================
  Cart Area Media Query
  ======================
  */

@media only screen and (max-width: 1200px) {

  .minus-btn,
  .plus-btn {
    padding: 0.6rem 0.8rem;
    margin-right: 0;
  }

  .counter-btn {
    width: 4rem;
    padding: 1rem 0;
  }

  .input-counter svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* css header mới */
}

.nav__item_seach {
  display: flex;
  width: 37%;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 50px;
  margin: 40px;
  background: white;
}

.input_seach {
  width: 97%;
  padding-left: 10px;
  outline: none;
}

#input_seach {
  border-radius: 50px;
  border: 1px none var(--black);
}

#icon__item_seach {
  border: 1px none var(--black);
}

.nav__item_hotro {
  text-align: center;
}

#nav__icons_user {
  display: flex;
}

#nav__item_user,
#nav__item_giohang {
  font-size: 1.2rem;
}

#nav__item_giohang {
  width: 120px;
  ext-align: center;
}

#nav__item_user {
  width: 160px;
  ext-align: center;
}

.nav__link_giohang {
  margin-top: 10px;
}

#nav__list_DANHMUC {
  margin: auto;
  font-weight: 400;
}

header>li {
  color: white;
}

.icon__item {
  background: white;
}




.nav__icons_danhmuc {
  position: relative;
}

.nav__icons_danhmuc .icon__item svg {
  width: 1.6rem;
  height: 1.6rem;
}

.nav__icons_danhmuc .icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.nav__icons_danhmuc .icon__item:link,
.nav__icons_danhmuc .icon__item:visited {
  color: var(--white);
}

/* .nav__icons_danhmuc .icon__item:hover {
    background-color: var(--orange);
    border: 1px solid var(--black);
  } */

.nav__icons_danhmuc .icon__item:not(:last-child) {
  margin-right: 1rem;
}

.nav__icons_danhmuc #cart__total {
  font-size: 1rem;
  position: absolute;
  top: 2px;
  right: 75px;
  background-color: var(--orange);
  padding: 0.2rem 0.4rem;
  border-radius: 100%;
  color: var(--primaryColor);
}

.nav__icons_danhmuc {
  margin: 10px;
}

.category__products {
  background: white;
  padding: 10px;
  border-radius: 20px;
}

.icon__itemdanhmuc {
  height: 20px;
}

.navigation_danhmuc {
  padding-bottom: 15px;
}

.detail__content {
  padding-left: 50px;
}

.block-breadcrumbs {

  width: 100%;

  height: 30px;

}

.prefix {

  width: 1214.09px;

  height: 30px;

  margin: auto;

}

.prefix>ul>li {

  display: inline-block;

  margin-top: 5px;
}

.item::after {

  content: '';
  background: url(https://didongviet.vn/pub/static/frontend/ddv/default/vi_VN/images/arrow-right-line.png) no-repeat;
  margin: 0 5px;
  width: 10px;
  height: 14px;
  margin-bottom: 1px;
  vertical-align: middle;
  display: inline-block;
}

#main {
  width: 100%;


  height: 762px;

  background-color: #F2F2F2;



}


.section {

  width: 100%;

  height: 100%;

  display: flex;

  align-items: center;

}


.cart__area {
  padding-bottom: 5rem;


}

#main .container {
  max-width: 117rem;

  width: 1170px;
  margin: 0 auto;
  padding: 0 1.6rem;

  margin-top: 20px;

  height: 700px;

  background-color: white;

}


.cart__form {
  display: block;
}

.cart__table {
  display: block;
  width: 100%;
  margin-bottom: 4rem;
  overflow-x: auto;
}

.cart__table .table {
  border-collapse: collapse;
  width: 100%;
  max-width: 150rem;
}

.cart__table .table th {
  font-weight: 500;
  font-style: 2rem;
  text-align: left;
  padding: 1.8rem 0;
}

.cart__table .table td {
  vertical-align: middle;
  padding: 1.8rem 0;
  white-space: nowrap;
  border-bottom: 1px solid var(--primaryColor);
}

.cart__table .table thead {
  border-bottom: 1px solid var(--primaryColor);
}

.section__cart__pay {

  width: 100%;

  height: 618px;

  display: flex;
  justify-content: center;
  align-items: start;

  font-size: 14px;

  margin-top: 10px;

  position: relative;

  top: 30px;

}

.section__cart__pay__step1,
.section__cart__pay__container,
.section__cart__pay__step4 {


  width: 400px;

  height: 618px;

  padding: 15px;


  position: relative;


}

.section__cart__pay .section__cart__pay__container .section__cart__pay__step2 {

  width: 100%;

  height: 323px;

  position: relative;

}

.section__cart__pay .section__cart__pay__container .section__cart__pay__step3 {


  width: 100%;
  height: 266px;

}

.section__cart__pay__step1 .header__step1,
.header__step2,
.header__step3,
.header__step4 {

  Width: 100%;

  height: 37.58px;

  background-color: #BE1E2D;

  color: var(--white);


  display: flex;
  justify-content: start;
  align-items: center;

  padding-left: 8px;





}

.section__cart__pay__step1 .form {

  width: 100%;

  height: 535px;

  margin-top: 10px;
}


.section__cart__pay__step1 .form .dress__input {

  width: 100%;

  height: 31.99px;

  padding: 0 9px;


  margin: 10px 0;
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 32px;
  line-height: 1.42857143;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;

}

.section__cart__pay__step2 table {

  margin-top: 20px;
}

.section__cart__pay__step2 table tr td {

  height: 110.19px;
}


.section__cart__pay__step2 #hr {

  width: 100%;

  position: absolute;

  top: 145px;
  margin-top: 20px;


  border-bottom: 1px solid #d1d0d0;
  display: block;
  height: 5px;
}

.section__cart__pay__step3 table {


  margin: 20px 0 0 20px;
}

.section__cart__pay__step4 table {

  margin-top: 20px;


}

.section__cart__pay__step4 table tr td {

  width: 204px;
  height: 121.19px;

  padding-left: 20px;


}



.section__cart__pay__step4 #hr2 {
  width: 100%;

  position: absolute;

  top: 90px;
  margin-top: 20px;


  border-bottom: 1px solid #d1d0d0;
  display: block;
  height: 5px;

}

.section__cart__pay__step4 #hr3 {
  width: 100%;

  position: absolute;

  top: 220px;
  margin-top: 20px;


  border-bottom: 1px solid #d1d0d0;
  display: block;
  height: 5px;

}

.section__cart__pay__step4 table:last-child tr th {



  float: left;




}

.section__cart__pay__step4 table:last-child tr td:last-child {

  width: 103px;
  height: 57px;

  font-size: 18px;




}

#section__cart__pay__step4__price {

  color: #be1e2d;
}

.section__cart__pay__step4__voucher {

  width: 370px;

  height: 36px;

}

.section__cart__pay__step4__voucher .input__voucher {


  width: 240px;

  height: 36px;

  border-radius: 4px;

  padding-left: 10px;

  background-color: #f2f2f2;

  border: none;


}

.section__cart__pay__step4__voucher .button__apply {

  width: 92.5px;

  height: 36.46px;

  background-color: #ffffff !important;
  border: 1px solid #e2e5e6;
  border-radius: 4px;
  color: #373F41;
  margin-left: 8px;

  cursor: pointer;

}

.before__pay {

  width: 370px;

  float: right;

  position: relative;

  bottom: 320px;


}

.button__order {

  width: 370px;

  height: 43.98px;


  margin-top: 40px;

  border-radius: 4px;

  color: var(--white);

  font-weight: 400;

  font-family: "Archivo", sans-serif;

  border: none;

  cursor: pointer;



}

.responsive__cart-area,
.cart__form,
.cart__table,
.section__cart__pay {

  height: 100%;
  overflow: hidden;

}



/*
  ======================
  Footer
  ======================
  */

.footer {
  background-color: var(--black3);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-top__box span svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--grey3);
}

.footer-top__box span {
  margin-right: 1rem;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--grey3);
}

.footer-top__box a:link,
.footer-top__box a:visited {
  display: block;
  color: var(--grey);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-top__box a:hover {
  color: var(--orange);
}

.footer-top__box div {
  color: var(--grey);
  font-size: 1.4rem;
}

.footer-top__box h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

/*
  ======================
  Product Details
  ======================
  */

.details__container--left,
.product-detail__container {
  display: flex;
  align-items: flex-start;
}

.product-detail__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 0;
  margin: 0 auto;
}

.product-detail__left {
  flex: 0 0 50%;
  margin-right: 2rem;
}

.product-detail__right {
  flex: 0 0 50%;
}

.product-detail__container--left img {
  width: 100%;
  object-fit: cover;
}

.product__pictures {
  display: flex;
  flex-direction: column;
}

.pictures__container {
  padding: 1rem;
  border: 1px solid var(--primaryColor);
  border-right-color: transparent;
  cursor: pointer;
  width: 6.2rem;
  transition: 0.3s;
}

.pictures__container:not(:last-child) {
  border-bottom-color: transparent;
}

.pictures__container:hover {
  border: 1px solid var(--orange);
}

.pictures__container img {
  transition: 0.3s;
}

.pictures__container:hover img {
  scale: 1.1;
}

.product__picture {
  width: 100%;
  border: 1px solid var(--primaryColor);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.product-details__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.product-details__btn a {
  flex: 0 0 47%;
  display: inline-block;
  padding: 1.6rem 3rem;
  text-align: center;
  color: var(--black);
  border: 1px solid var(--black);
}

.product-details__btn svg {
  width: 1.9rem;
  height: 1.9rem;
  transition: 0.3s;
}

.product-details__btn .add,
.product-details__btn .buy {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.product-details__btn .add span,
.product-details__btn .buy span {
  margin-right: 1rem;
}

.product-details__btn .add:hover,
.product-details__btn .buy:hover {
  background-color: var(--black);
  color: var(--primaryColor);
}

.product-details__btn .add:hover svg,
.product-details__btn .buy:hover svg {
  fill: var(--primaryColor);
}

.product-detail__content {
  width: 90%;
  margin: 0 auto;
}

.product-detail__content h3 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.price {
  margin-bottom: 1rem;
}

.new__price {
  font-size: 2rem;
  color: var(--orange);
}

.product-detail__content .product__review {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 0.5px solid var(--primaryColor);
}

.rating {
  margin-right: 1rem;
}

.product__review a:link,
.product__review a:visited {
  color: var(--black);
}

.product-detail__content p {
  font-size: 1.4rem;
  color: var(--black2);
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}

.product__info .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.select .select-box {
  background: none;
  width: 18rem;
  border: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--primaryColor);
}

.select .select-box:focus {
  outline: none;
}

.select__option label {
  font-size: 1.4rem;
  color: var(--black3);
  display: inline-block;
  padding-bottom: 1rem;
}

.input-counter {
  display: flex;
  align-items: center;

  margin-top: 25px;

}

.title {

  margin-top: 20px;

  line-height: 1.7;
}

.title>li {

  list-style: none;
}

.input-counter div {
  display: flex;
}

.input-counter li span {
  font-size: 1.4rem;
  color: var(--black3);
  margin-right: 1rem;
}

.minus-btn,
.plus-btn {
  display: inline-block;
  border: 1px solid var(--primaryColor);
  padding: 0.8rem 1rem;
  margin-right: 0;
  cursor: pointer;
}

.plus-btn {
  border-left-color: transparent;
}

.minus-btn {
  border-right-color: transparent;
}

.counter-btn {
  width: 7rem;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid var(--primaryColor);
}

.input-counter svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--grey3);
}

.product__info li {
  margin-bottom: 1.6rem;
}

.product__info .in-stock {
  color: var(--green);
}

.product__info li a {
  font-size: 1.4rem;
  color: var(--black2);
}

.product-info__btn span svg {
  width: 1.8rem;
  height: 1.8rem;
}

.product-info__btn {
  display: flex;
  align-items: center;
}

.product-info__btn a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--black2);
}

.product-info__btn a:not(:last-child) {
  margin-right: 1rem;
}

/* Product Details Bottom */

.detail__content {
  position: relative;
  height: 55rem;
}

.detail__content .content {
  position: absolute;
  transform: translate(0, 25vh);
  transition: all 0.6s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 555;
}

.detail__content .content.active {
  transform: translate(0, 0vh);
  opacity: 1;
  visibility: visible;
}

#shipping h3,
#shipping p {
  color: var(--grey2);
}

#shipping p,
#description p {
  padding: 1.6rem 0;
  line-height: 2.8rem;
}

#reviews {
  font-size: 3rem;
  font-weight: 500;
  color: var(--grey2);
  border-bottom: 1px solid var(--primaryColor);
}

#description p,
#description li,
#description h2 {
  color: var(--grey2);
}

#description h2 {
  font-weight: 500;
  padding: 1rem 0;
}

#description li {
  line-height: 3rem;
  color: vaf;
}

#description ol {
  padding-left: 1.6rem;
}

/* Product Details Bottom Media Query*/

@media only screen and (max-width: 1200px) {
  .detail__content {
    height: 65rem;
  }
}

@media only screen and (max-width: 998px) {
  .detail__content {
    height: 70rem;
  }
}

@media only screen and (max-width: 768px) {
  .detail__content {
    height: 85rem;
  }
}

@media only screen and (max-width: 568px) {
  .detail__content {
    height: 110rem;
  }
}

@media only screen and (max-width: 450px) {
  .detail__content {
    height: 130rem;
  }
}

@media only screen and (max-width: 340px) {
  .detail__content {
    height: 160rem;
  }
}

/*
  ======================
  Product Details Media Query
  ======================
  */
@media only screen and (max-width: 998px) {
  .select .select-box {
    width: 15rem;
  }

  .select__option label {
    display: block;
  }

  .product-info__btn {
    flex-wrap: wrap;
  }

  .product-details__btn a {
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
  }

  .picture__container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .details__container--left {
    flex-direction: column-reverse;
    text-align: center;
  }

  .product__pictures {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: center;
  }

  .pictures__container {
    width: 50%;
    border-right-color: var(--primaryColor);
  }

  .pictures__container:not(:last-child) {
    border-bottom-color: var(--primaryColor);
  }

  .product-detail__container {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .product__info .select {
    align-items: flex-start;
    flex-direction: column;
  }

  .select .select-box {
    display: block;
    width: 20rem;
  }
}

@media only screen and (max-width: 568px) {
  .select .select-box {
    width: 15rem;
  }

  .input-counter {
    align-items: flex-start;
    flex-direction: column;
  }

  .input-counter div {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .product-details__btn a {
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
  }

  .product-details__btn .add span,
  .product-details__btn .buy span {
    margin-right: 0rem;
  }

  .product__review .rating svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

/*
  ======================
  Cart Area
  ======================
  */
.cart__area {
  padding-bottom: 5rem;
}

.cart__form {
  display: block;
}

.product__thumbnail img {
  width: 10rem;
  height: 15rem;
  object-fit: contain;
}

.remove__cart-item svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--grey2);
  transition: all 0.3s ease-in-out;
}

.cart__table {
  display: block;
  width: 100%;
  margin-bottom: 4rem;
  overflow-x: auto;
}

.cart__table .table {
  border-collapse: collapse;
  width: 100%;
  max-width: 150rem;
}

.cart__table .table th {
  font-weight: 500;
  font-style: 2rem;
  text-align: left;
  padding: 1.8rem 0;
}

.cart__table .table td {
  vertical-align: middle;
  padding: 1.8rem 0;
  white-space: nowrap;
  border-bottom: 1px solid var(--primaryColor);
}

.cart__table .table thead {
  border-bottom: 1px solid var(--primaryColor);
}

.product__name a:link,
.product__name a:visited {
  font-size: 1.5rem;
  color: var(--black2);
}

.product__name small {
  color: var(--grey);
  margin-top: 1.6rem;
}

.product__subtotal .price {
  display: inline;
}

.product__subtotal .price .new__price,
.product__price .price .new__price {
  font-size: 1.6rem;
}

.remove__cart-item {
  margin-left: 1rem;
}

.remove__cart-item:hover svg {
  fill: var(--orange);
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primaryColor);
  padding-bottom: 4rem;
  margin: 3rem 0;
}

.continue__shopping a:link,
.continue__shopping a:visited {
  font-size: 1.5rem;
  padding: 1.2rem 3rem;
  color: var(--black);
  text-transform: uppercase;
  border: 1px solid var(--black);
  transition: all 0.4s ease-in-out;
}

.continue__shopping a:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.cart__totals {
  width: 60rem;
  /* height: 30rem; */
  margin: 5rem auto 0 auto;
  color: var(--black5);
  padding: 4rem 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 30px 10px rgba(0, 0, 0, 0.09);
  border-radius: 0.5rem;
}

.cart__totals h3 {
  font-weight: 550;
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.cart__totals .new__price {
  font-size: 1.5rem;
}

.cart__totals ul {
  margin-bottom: 2.5rem;
}

.cart__totals li {
  border: 1px solid var(--primaryColor);
  padding: 1.4rem 0.5rem;
  position: relative;
}

.cart__totals li:not(:last-child) {
  border-bottom-color: transparent;
}

.cart__totals li span {
  position: absolute;
  right: 1rem;
}

.cart__totals a:link,
.cart__totals a:visited {
  font-size: 1.5rem;
  padding: 1.2rem 3rem;
  color: var(--black);
  text-transform: uppercase;
  border: 1px solid var(--black);
  transition: all 0.4s ease-in-out;
}

.cart__totals a:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.thanhtoan {
  color: var(--orange);
}

/*
  ======================
  Cart Area Media Query
  ======================
  */

@media only screen and (max-width: 1200px) {

  .minus-btn,
  .plus-btn {
    padding: 0.6rem 0.8rem;
    margin-right: 0;
  }

  .counter-btn {
    width: 4rem;
    padding: 1rem 0;
  }

  .input-counter svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}